<!doctype html>
<html lang="en">
    <head>
        <title>Create new Todo</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Free Web ToDo List">
        <meta name="keywords" content="ToDo, To-Do, TODO,">
        <meta name="author" content="Henrik Baehde, Melanie Wendler">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Own CSS and JS-->
        <link rel="stylesheet" href="assets/css/own.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="index.html">TO-DOS</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="createTodo.html">Creat New Task</a>
                        <a class="nav-item nav-link" href="editTodo.html">Edit Task</a>
                        <a class="nav-item nav-link" href="howToEditTodo.html">Wiki</a>
                        <a class="nav-item nav-link" href="about.html">About</a>
                    </div>
                </div>
            </nav>
            <!-- Header with site description -->
            <div class="jumbotron">
                <h2>
                    CREATE NEW TODO
                </h2>
                <p>
                    Fill in required information below
                </p>
            </div>
            <!-- Form for Todo creation -->
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">
                        Description
                    </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Description ..." ></textarea>
                </div>
                <div class="form-group ">
                    <label for="inputProgress">
                        Progress %
                    </label>
                    <input type="number" class="form-control" id="inputProgress" />
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-2">
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='date' class="form-control" />
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- add functionality to picker later -->
                    <script type="text/javascript">
                        $(function () {
                        	$('#datetimepicker1').datetimepicker();
                        });
                    </script>
                </div>
                <a class="btn btn-success btn-lg btn-block"  href="index.html">
                Submit
                </a>
            </form>
            <footer class="container-fluid text-center">
                Designed and Built by <a href="https://github.com/8dzed2">@Baehde</a> & <a href="https://github.com/Pazifistin">@Wendler</a>
            </footer>
        </div>
    </body>
</html>