<!doctype html>
<html lang="en">
    <head>
        <title>Edit Todo</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Free Web ToDo List">
        <meta name="keywords" content="ToDo, To-Do, TODO,">
        <meta name="author" content="Henrik Baehde, Melanie Wendler">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Own CSS and JS-->
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/own.css' %}"/>
    </head>
    <body>
        <div class="container-fluid">
            <!-- Navigation Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'todoBoard:index' %}">TO-DOS</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{% url 'todoBoard:new' %}">Creat New Task</a>
                        <a class="nav-item nav-link" href="{% url 'todoBoard:howToEdit' %}">Wiki</a>
                        <a class="nav-item nav-link" href="{% url 'todoBoard:aboutus' %}">About</a>
                    </div>
                </div>
            </nav>
            <!-- Header with site description -->
            <div class="jumbotron">
                <h2>
                    EDIT TODO
                </h2>
                <p>
                    Fill in required information below
                </p>
            </div>
            <!-- Form for Todo edtiting -->
            <form action="{% url 'todoBoard:editSubmit' todo.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="description">
                        Description
                    </label>
                    <input type="textarea" class="form-control" id="description" rows="3" required="True" placeholder="Enter Description ..." name="description" defaultvalue="{{ description }}" value="{{ description }}">
                </div>
                <div class="form-group ">
                    <label for="completion">
                        Completion %
                    </label>
                    <input type="number" class="form-control" id="completion" required="True" name="completion" value="{{ completion }}">
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-2">
                        <div class="form-group">
                            <label for="due">
                                Due
                            </label>
                            <div class='input-group date'>
                                <input type='date' class="form-control" id="due" required="True" name="due" value="{{ due }}"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% if error_msg %}
                        <div class="alert alert-danger">
                          <strong>Error:</strong> {{ error_msg }}
                        </div>
                    {% endif %}
                    <!-- add functionality to picker later -->
                    <script type="text/javascript">
                        $(function () {
                        	$('#datetimepicker1').datetimepicker();
                        });
                    </script>
                </div>
                <input type="submit" class="btn btn-success btn-lg btn-block" value="Submit">
            </form>
            <footer class="container-fluid text-center">
                Designed and Built by <a href="https://github.com/8dzed2">@Baehde</a> & <a href="https://github.com/Pazifistin">@Wendler</a>
            </footer>
        </div>
    </body>
</html>
