<!doctype html>
<html lang="en">
    <head>
        <title>Edit ToDo</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Free Web ToDo List">
        <meta name="keywords" content="ToDo, To-Do, TODO,">
        <meta name="author" content="Henrik Baehde, Melanie Wendler">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Own CSS and JS-->
        <link rel="stylesheet" href="assets/css/own.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="index.html">TO-DOS</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="createTodo.html">Creat New Task</a>
                        <a class="nav-item nav-link" href="editTodo.html">Edit Task</a>
                        <a class="nav-item nav-link" href="howToEditTodo.html">Wiki</a>
                        <a class="nav-item nav-link" href="about.html">About</a>
                    </div>
                </div>
            </nav>
            <!-- Header with site description -->
            <div class="jumbotron">
                <h2>
                    HOW TO EDIT TO-DO
                </h2>
            </div>

            <!-- add role="" to explicit change one of the following div-->
            <div class="alert alert-success">
               1. Find the entry you want to edit.
            </div>
            <div class="alert alert-success">
                2. Click the "edit" button next to the entry.
            </div>
            <div class="alert alert-success">
                3.Make your changes.
            </div>
            <div class="alert alert-success" >
                4. Click the "Accept" button.
            </div>
            <div class="alert alert-success">
                5. Proof your changes.
            </div>

            <footer class="container-fluid text-center">
                Designed and Built by <a href="https://github.com/8dzed2">@Baehde</a> & <a href="https://github.com/Pazifistin">@Wendler</a>
            </footer>
        </div>
    </body>
</html>